.locations {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.locations li {
    padding: 1rem 0 0 0;
}

.locations a {
    text-decoration: none;
    color: black;
}

.locations a:hover {
    color: lightgray;
}

.locations .locations-form {
    padding: 1rem 0 0 0;
    min-width: 310px;
}

.locations .locations-form h2 {
    padding-bottom: 0.5rem;
}

.locations form {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    width: 100%;
}

.locations form input {
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    padding: 5px 0;
}

.locations form label {
    padding-bottom: 0.5rem;
}

.locations form .submission {
    background-color: darkseagreen;
    color: white;
    border: 0;
    padding: 0.5rem 1rem;
}